html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
}
.app {
  height: 100%;
}

.quill {
  height: 80%;
  width: 80%;
  border: 1px solid #08153438;
}
.ql-editor {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

::selection,
::-moz-selection {
  background: #1b9aaa; //#76bef2 !important;
}
